@import "tailwindcss";

@theme {
  --color-primary: #fa541c;
  --color-primary-50: #fffbec;
  --color-primary-100: #fff6d3;
  --color-primary-200: #ffeaa5;
  --color-primary-300: #ffeaa5;
  --color-primary-400: #ffbd32;
  --color-primary-500: #ffa50a;
  --color-primary-600: #fe8d00;
  --color-primary-700: #cc6802;
  --color-primary-800: #a1500b;
  --color-primary-900: #82430c;
  --color-primary-950: #462004;

  --color-secondary-50: #ecfdf5;
  --color-secondary-100: #d1fae5;
  --color-secondary-200: #a7f3d0;
  --color-secondary-300: #6ee7b7;
  --color-secondary-400: #34d399;
  --color-secondary-500: #10b981;
  --color-secondary-600: #059669;
  --color-secondary-700: #047857;
  --color-secondary-800: #065f46;
  --color-secondary-900: #064e3b;
  --color-secondary-950: #022c22;

  --color-tertiary-50: #ede9fe;
  --color-tertiary-100: #ede9fe;
  --color-tertiary-200: #ddd6fe;
  --color-tertiary-300: #c4b5fd;
  --color-tertiary-400: #a78bfa;
  --color-tertiary-500: #8b5cf6;
  --color-tertiary-600: #7c3aed;
  --color-tertiary-700: #6d28d9;
  --color-tertiary-800: #5b21b6;
  --color-tertiary-900: #4c1d95;
  --color-tertiary-950: #2e1065;

  --color-dark-50: #765e31;
  --color-dark-100: #6b552c;
  --color-dark-200: #4f3e1f;
  --color-dark-300: #372b15;
  --color-dark-400: #271e0e;
  --color-dark-500: #110d06;
  --color-dark-600: #0c0903;
  --color-dark-700: #0c0902;
  --color-dark-800: #0c0902;
  --color-dark-900: #000000;

  --color-light-50: #f5f5f6;
  --color-light-100: #e5e6e8;
  --color-light-200: #cdcfd4;
  --color-light-300: #abafb5;
  --color-light-400: #81858f;
  --color-light-500: #6d727d;
  --color-light-600: #575a63;
  --color-light-700: #4a4d54;
  --color-light-800: #424448;
  --color-light-900: #3a3b3f;
  --color-light-950: #242528;

  --color-white: #ffffff;
  --error-800: #8a1513;
  --error-500: #e53935;
  --error-200: #faddca;
  --warning-800: #995700;
  --warning-500: #ffb300;
  --warning-200: #fff3bf;
  --success-800: #257028;
  --success-500: #66bb6a;
  --success-200: #d3eddd;
  --info-800: #0f5894;
  --info-500: #29b6f6;
  --info-200: #c7f2fc;

  --breakpoint-xs: 30rem;

  --text-tiny: 0.625rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  @apply xs:px-4 mx-auto px-6 lg:px-16 xl:px-27;
}

@layer base {
  @font-face {
    font-family: IranSansX-Light;
    font-weight: 200;
    src: url("../assets/fonts/IranSansX/IRANSansXFaNum-Light.woff2");
  }
  @font-face {
    font-family: IranSansX-Regular;
    font-weight: 400;
    src: url("../assets/fonts/IranSansX/IRANSansXFaNum-Regular.woff2");
  }
  @font-face {
    font-family: IranSansX-DemiBold;
    font-weight: 500;
    src: url("../assets/fonts/IranSansX/IRANSansXFaNum-DemoBold.woff2");
  }
  @font-face {
    font-family: IranSansX-Bold;
    font-weight: 700;
    src: url("../assets/fonts/IranSansX/IRANSansXFaNum-Bold.woff2");
  }

  body {
    font-family: IranSansX-Regular !important;
    font-weight: 400;
  }
}

@layer utilities {
  .btn {
    @apply cursor-pointer rounded border border-gray-300 px-4 py-1.5 disabled:cursor-not-allowed dark:border-gray-700;
  }

  .delete-btn {
    @apply cursor-pointer rounded bg-red-500 px-5 py-1.5 text-white disabled:cursor-not-allowed;
  }

  .accept-btn {
    @apply cursor-pointer rounded bg-blue-500 px-5 py-1.5 text-white disabled:cursor-not-allowed;
  }

  .warning-btn {
    @apply cursor-pointer rounded bg-yellow-500 px-5 py-1.5 text-white disabled:cursor-not-allowed;
  }

  .icon-box {
    @apply relative flex size-13 items-center justify-center rounded-full bg-gray-100 text-slate-500 lg:cursor-pointer;
  }

  .tab {
    @apply relative cursor-pointer px-1 py-3 select-none md:px-4;
  }

  .tab--active::after {
    content: "";

    @apply bg-primary right-0 bottom-0 h-1.5 w-full rounded-t-2xl md:absolute;
  }

  .tab__badge {
    @apply mr-2 hidden h-5 min-w-5 items-center justify-center rounded bg-slate-400 px-1 text-sm leading-relaxed text-white lg:flex;
  }

  .tab--active .tab__badge {
    @apply bg-primary;
  }
}

@layer components {
  .form-input {
    @apply mt-2 w-full rounded-lg border border-neutral-200 px-3 py-2 text-sm outline-none;
  }

  .identity-btn {
    @apply bg-primary-500 mt-8 w-full cursor-pointer rounded-lg py-3 text-white;
  }

  #admin-menu .active {
    @apply bg-primary-500 text-white;
  }

  :is(#header-desktop-menu, #header-mobile-menu) .active {
    @apply text-primary;
  }

  .sidebar {
    @apply sticky top-0 flex min-w-[17.5rem] flex-col justify-between gap-2 p-6 transition-transform;
    @apply border border-slate-100 dark:border-slate-950 dark:bg-slate-800 dark:text-white;
    @apply max-lg:absolute max-lg:z-30 max-lg:translate-x-full;

    height: calc(100dvh - 64px);
  }

  .theme__dropdown {
    @apply absolute top-full z-20 mt-5 flex w-40 flex-col gap-3 rounded bg-gray-100 px-2 py-2 shadow-xl transition-all duration-100 ease-in select-none;
  }

  .theme__dropdown--hide {
    @apply invisible -translate-y-2 opacity-0;
  }

  .theme-btn {
    @apply cursor-pointer rounded-lg py-3 transition-colors duration-300;
  }

  .pagination-btn {
    @apply flex size-10 cursor-pointer items-center justify-center rounded-lg transition-colors duration-200 disabled:cursor-not-allowed disabled:opacity-20;
  }

  .table-container {
    @apply table w-full table-fixed border-collapse border-slate-400 text-right dark:border-slate-800;
  }

  .table-header {
    @apply border border-slate-300 bg-slate-200 px-4 py-3 dark:border-slate-800 dark:bg-slate-800;
  }

  .table-div {
    @apply border border-slate-300 p-2.5 text-slate-800 dark:border-slate-800 dark:text-slate-300;
  }

  .modal-container {
    @apply fixed inset-0 bg-slate-200/75 dark:bg-slate-600/75;
  }

  .modal {
    @apply absolute flex h-72 w-xs flex-col rounded-2xl sm:w-sm md:w-lg;
    @apply inset-1/2 -translate-y-1/2 translate-x-1/2;
    @apply bg-white dark:bg-gray-800 dark:text-white;
  }

  .dropdown {
    @apply invisible absolute top-12 right-0 left-0 z-30 flex flex-col gap-1 overflow-hidden rounded-2xl py-0.5 opacity-0 shadow-lg;
    @apply border border-gray-200 bg-white dark:border-gray-600 dark:bg-gray-700;
  }

  .dropdown-item {
    @apply cursor-pointer px-4 py-2 transition-colors hover:bg-sky-200/50;
  }

  .dropdown-item--active {
    @apply bg-sky-500 text-white hover:bg-sky-500 dark:hover:bg-sky-500;
  }

  .form-modal {
    @apply absolute flex h-96 w-xs flex-col rounded-2xl p-5 sm:w-sm md:w-2xl;
    @apply inset-1/2 -translate-y-1/2 translate-x-1/2;
    @apply bg-white dark:bg-gray-800 dark:text-white;
  }

  .action-btn {
    @apply cursor-pointer rounded p-1 text-white transition-colors;
  }

  .sort__active {
    @apply border-primary border-b-2;
  }

  .cart__box {
    max-height: calc(600px - 160px);
  }

  .cart__step-item {
    @apply flex shrink-0 flex-col items-center gap-1 px-2 text-sm text-gray-300 transition-all duration-500;
  }

  .cart__step--active {
    @apply text-gray-800;
  }

  .cart__step-line {
    @apply relative h-0.5 w-full bg-gray-100;
  }

  .cart__step-line::after {
    content: "";
    @apply absolute h-full w-0 bg-black transition-all duration-500;
  }

  .cart__step-line:has(+ .cart__step--active) {
    @apply after:w-full;
  }
}

.fade-in {
  animation: fadeIn 1s forwards 0.1s;
}

.image-fade-in {
  animation: imageFadeIn 1s forwards 0.2s;
}

.logo-fade-in {
  animation: logoFadeIn 1.5s forwards 0.5s;
}

.brand-card {
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
}

.skeleton *:not(:has(*)) {
  @apply animate-pulse rounded bg-gray-200 text-transparent;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes imageFadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 25%;
  }
}

@keyframes logoFadeIn {
  0% {
    opacity: 0%;
    transform: translateY(20px) scale(0.9);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
