@import "tailwindcss";

@theme {
  --color-primary-50: #fffbec;
  --color-primary-100: #fff6d3;
  --color-primary-200: #ffeaa5;
  --color-primary-300: #ffeaa5;
  --color-primary-400: #ffbd32;
  --color-primary-500: #ffa50a;
  --color-primary-600: #fe8d00;
  --color-primary-700: #cc6802;
  --color-primary-800: #a1500b;
  --color-primary-900: #82430c;
  --color-primary-950: #462004;

  --color-secondary-50: #ecfdf5;
  --color-secondary-100: #d1fae5;
  --color-secondary-200: #a7f3d0;
  --color-secondary-300: #6ee7b7;
  --color-secondary-400: #34d399;
  --color-secondary-500: #10b981;
  --color-secondary-600: #059669;
  --color-secondary-700: #047857;
  --color-secondary-800: #065f46;
  --color-secondary-900: #064e3b;
  --color-secondary-950: #022c22;

  --color-tertiary-50: #ede9fe;
  --color-tertiary-100: #ede9fe;
  --color-tertiary-200: #ddd6fe;
  --color-tertiary-300: #c4b5fd;
  --color-tertiary-400: #a78bfa;
  --color-tertiary-500: #8b5cf6;
  --color-tertiary-600: #7c3aed;
  --color-tertiary-700: #6d28d9;
  --color-tertiary-800: #5b21b6;
  --color-tertiary-900: #4c1d95;
  --color-tertiary-950: #2e1065;

  --color-dark-50: #765e31;
  --color-dark-100: #6b552c;
  --color-dark-200: #4f3e1f;
  --color-dark-300: #372b15;
  --color-dark-400: #271e0e;
  --color-dark-500: #110d06;
  --color-dark-600: #0c0903;
  --color-dark-700: #0c0902;
  --color-dark-800: #0c0902;
  --color-dark-900: #000000;

  --color-gray-50: #f7f7f7;
  --color-gray-100: #ededed;
  --color-gray-200: #dfdfdf;
  --color-gray-300: #c8c8c8;
  --color-gray-500: #adadad;
  --color-gray-600: #888888;
  --color-gray-700: #676767;
  --color-gray-800: #676767;
  --color-gray-900: #545454;
  --color-gray-950: #363636;

  --color-light-50: #f5f5f6;
  --color-light-100: #e5e6e8;
  --color-light-200: #cdcfd4;
  --color-light-300: #abafb5;
  --color-light-400: #81858f;
  --color-light-500: #6d727d;
  --color-light-600: #575a63;
  --color-light-700: #4a4d54;
  --color-light-800: #424448;
  --color-light-900: #3a3b3f;
  --color-light-950: #242528;

  --color-white: #ffffff;
  --error-800: #8a1513;
  --error-500: #e53935;
  --error-200: #faddca;
  --warning-800: #995700;
  --warning-500: #ffb300;
  --warning-200: #fff3bf;
  --success-800: #257028;
  --success-500: #66bb6a;
  --success-200: #d3eddd;
  --info-800: #0f5894;
  --info-500: #29b6f6;
  --info-200: #c7f2fc;

  --breakpoint-xs: 30rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  @font-face {
    font-family: IranSansX-Light;
    font-weight: 200;
    src: url("../assets/fonts/IranSansX/IRANSansXFaNum-Light.woff2");
  }
  @font-face {
    font-family: IranSansX-Regular;
    font-weight: 400;
    src: url("../assets/fonts/IranSansX/IRANSansXFaNum-Regular.woff2");
  }
  @font-face {
    font-family: IranSansX-DemiBold;
    font-weight: 500;
    src: url("../assets/fonts/IranSansX/IRANSansXFaNum-DemoBold.woff2");
  }
  @font-face {
    font-family: IranSansX-Bold;
    font-weight: 700;
    src: url("../assets/fonts/IranSansX/IRANSansXFaNum-Bold.woff2");
  }

  body {
    font-family: IranSansX-Regular !important;
    font-weight: 400;
  }
}

@layer components {
  .form-input {
    @apply mt-2 w-full rounded-lg border border-neutral-200 px-3 py-2 text-sm outline-none;
  }

  .active {
    @apply bg-primary-500 text-white;
  }

  .sidebar {
    @apply sticky top-0 flex h-dvh min-w-[17.5rem] flex-col justify-between gap-2 p-6 transition-transform;
    @apply border border-slate-100 dark:border-slate-950;
    @apply bg-gray-50 dark:bg-slate-800 dark:text-white;
    @apply max-lg:absolute max-lg:z-30 max-lg:translate-x-full;
  }

  .theme-btn {
    @apply cursor-pointer rounded-lg py-3 transition-colors duration-300;
  }

  .pagination-btn {
    @apply flex size-10 cursor-pointer items-center justify-center rounded-lg transition-colors duration-200 disabled:cursor-not-allowed disabled:opacity-20;
  }

  .table-header {
    @apply border border-slate-300 bg-slate-200 px-4 py-3 dark:border-slate-800 dark:bg-slate-800;
  }

  .table-div {
    @apply border border-slate-300 px-4 py-3 text-slate-800 dark:border-slate-800 dark:text-slate-300;
  }
}

.fade-in {
  animation: fadeIn 1s forwards 0.1s;
}

.logo-fade-in {
  animation: logoFadeIn 1.5s forwards 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
    visibility: hidden;
  }

  100% {
    opacity: 100%;
    visibility: visible;
  }
}

@keyframes imageFadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 25%;
  }
}

@keyframes logoFadeIn {
  0% {
    opacity: 0%;
    transform: translateY(20px) scale(0.9);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
